<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>indexpage</title>
</head>
<body>
<h1>index page</h1>
<form method="" action="register" >
    <input type="submit" name="btnregister" id="btnregister" value="Register" />
</form>

<form method="" action="login" >
    <input type="submit" name="btnlogin" id="btnlogin" value="Login" />
</form>

<form method="" action="display" >
    <input type="submit" name="btndisplay" id="btndisplay" value="Display" />
</form>
</body>
</html>