<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Registration Form</h1>
<form method="post" action="registerfunction">
    {% csrf_token %}
    name<input type="text" id="txtname" name="txtname"/><br/>
    email<input type="text" id="txtemail" name="txtemail"/><br/>
    mobile<input type="text" id="txtmobile" name="txtmobile"/><br/>
    subject<input type="text" id="txtsubject" name="txtsubject"/><br/>
    password<input type="text" id="txtpassword" name="txtpassword"/><br/>
    <input type="submit" name="btnregister" id="btnregister" value="Register">
</form>
</body>
</html>